<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Aukcje 24</title>
  </head>
  <body>
    <h3>Twoje zamówienia</h3>
    
        {% for order in orders%}
            <table border="1">
                <th>Nazwa</th>
                <th>Ilość</th>
                <th>Suma</th>
            {% for product in order %}
                    <tr>
                        <td>{{ product[0] }}</td>
                        <td>{{ product[1] }}</td>
                        <td>{{ product[2] }}</td>
                    </tr>
            {% endfor %}
        </table>
        {% endfor %}

    <form action={{ url_for('main_panel') }}>
        <input type="submit" value="Wstecz" />
    </form>
  </body>
</html>