<!doctype html>

  <head>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Rejestracja</title>
  </head>
  <body>

    <p> Rejestracja nowego konta
      <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
      <form action="/register" method="post">
        Login: <input name="username" value="" type="text" /><br>
        Hasło: <input id="password" name="password" value="" type="password" /><br>
        Powtórz hasło: <input name="repeated_password" value="" type="password" /><br>
        <input name="submit" value="Zarejestruj" type="submit" />
      </form>
      <p id="strengthOfPassword"></p>
      </p>
      <form action={{ url_for('signin') }}>
        <input type="submit" value="Wstecz" />
      </form>
      Login może zawierać tylko litery i cyfry<br>
      Hasło musi zawierać co najmniej 8 liter, w tym:<br>
      -co najmniej jedną wielką literę<br>
      -co najmniej jedną małą literę<br>
      -co najmniej jedną cyfrę<br>
      -co najmniej jeden znak specjalny spośród #?!@$%^&*-
    </p>

    <script>
      document.getElementById("password").addEventListener("input", function () {
        var password = this.value;
        var strengthOfPassword = calculateEntropy(password);
        document.getElementById("strengthOfPassword").innerHTML = strengthOfPassword;
      });
  
      function calculateEntropy(password) {
        var charFrequencies = {};
  
        for (var i = 0; i < password.length; i++) {
          var char = password.charAt(i);
          if (charFrequencies[char]) {
            charFrequencies[char]++;
          } else {
            charFrequencies[char] = 1;
          }
        }
  
        var entropy = 0;
        for (var char in charFrequencies) {
          var frequency = charFrequencies[char] / password.length;
          entropy += frequency * Math.log2(frequency);
        }
        var entropy = -entropy;
        if(entropy > 3){
          return "Twoje hasło jest silne";
        }
        else if(entropy > 2.5){
          return "Twoje hasło jest średnie";
        }
        else{
          return "Twoje hasło jest słabe, zmień je!";
        }
      }
    </script>
  </body>

